
a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

html {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

body {
  margin-bottom: 60px;

  font-family: "San-Francisco", sans-serif;
  background-color: $main-bg;
}

.container {
  width: 100vw;
  padding: 0 15px;
}

@media (min-width: 475px) {
  .container {
    width: 475px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
