// background colors
$main-bg:#1e387f;
$header-bg:#88a0e1;
$footer-bg:#a0b1e1;

// burger menu
$burger-menu-bg: #586893;
$burger-button-open-color:#586893;
$burger-button-close-color:#a0b1e1;

// card balans
$card-balans-bg: #586893;
$card-balans-border-color: #ffc88d;
$card-balans-title-color: #fff;
$card-balans-date-color: #ffc88d;
$card-balans-amount-color: #1e387f;

// card select storage
$card-select-storage-bg: #586893;
$card-select-storage-info-heading: #ffc88d;
$card-select-storage-info-value: #dcdcdc;

// title and subtitle and text
$title-color:#ffc88d;
$element-title-color: #a0b1e1;
$element-subtitle-color: #bf966a;
$element-warning-text: #df5c4e;
$element-text-link-contacts: #bf966a;

// buttons
$btn-text-color:#bf966a;
$button-color: #ffefac;
$link-color: #a0b1e1;

// radio-buttons
$select-storage-btn-color: #586893;
$radio-btn-color:#dcdcdc;
$radio-btn-checked-color: #ffc88d;
$radio-btn-label-text-color: #bf966a;

//input
$input-text-color: #fff;
$input-bg-color: #586893;
$input-placeholder-bg-color: #a0b1e1;
$input-label-text-color: #a0b1e1;
$input-select-list-bg-color: #a0b1e1;