// background colors
$main-bg:#9BF7A7;
$header-bg:#7AF789;
$footer-bg:#58B364;

$title-color:#825DE8;

$main-button-color:#A68F1B;
$button-color: #ffea7e;
$main-text-color:#3E1E97;

$btn-text-color:#199B29;