// background colors
$main-bg:#1E387F;
$header-bg:#88A0E1;
$footer-bg:#A0B1E1;

$title-color:#FFC88D;

$burger-button-color:#586893;
$main-button-color:#BFAF6A;
$button-color: #FFEFAC;
$main-text-color:#BF966A;

$btn-text-color:#BF966A;
$radio-btn-color:#dcdcdc;