.project-modal {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
  }
  &__title {
    width: 200px;
    margin-bottom: 76px;
		font-size: 30px;
		text-align-last: left;
		color: $title-color;
		background-image: url("../../images/icons/about.png");
		background-repeat: no-repeat;
		background-position: right center;
		background-size: contain;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    width: 300px;
    &-links-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &-subtitle {
      align-self: start;
      margin-bottom: 10px;
      padding: 0;
      font-size: 13px;
      color: $element-title-color;
    }
    &-icon {
      display: block;
      width: 35px;
      height: 35px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      &-github {
        background-image: url('../../images/icons/contacts/github.svg');
      }
      &-site {
        background-image: url('../../images/icons/contacts/site.svg');
      }
      &-mail {
        background-image: url('../../images/icons/contacts/mail.png');
      }
      &-telegram {
        background-image: url('../../images/icons/contacts/telegram.png');
      }
    }
    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      font-size: 14px;
      color: $element-text-link-contacts;
    }
  }
  &__slider {
    width: 310px;
    height: 250px;
    margin-bottom: 55px;
    &-wrapper {
      width: 310px;
      height: 100%;
    }
    &-slide {
      width: 100%;
    }
    &-prev, &-next {
      position: absolute;
      width: 35px;
      height: 35px;
      top: 50%;
      transform: translateY(-50%);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-prev {
      left: -30px;
    }
    &-next {
      right: -30px;
    }
    &-counter {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      color: $title-color;
    }
  }
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #fff;
  &__divider {
    width: 25px;
    height: 25px;
    margin-top: 8px;
    position: relative;
    background-image: url('../../images/img/coin.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    &::before {
      position: absolute;
      content: '';
      width: 50px;
      height: 2px;
      background-color: #fff;
      top: 50%;
      left: -60px;
      transform: translateY(-50%);
    }
    &::after {
      position: absolute;
      content: '';
      width: 50px;
      height: 2px;
      background-color: #fff;
      top: 50%;
      right: -60px;
      transform: translateY(-50%);
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    &-title {
      color: $title-color;
      margin-bottom: 15px;
    }
    &-subtitle {
      color: $title-color;
      margin-bottom: 5px;
    }
    &-text {
      margin: 0;
      text-indent: 15px;
      text-align: justify;
      &_mt18 {
        margin-top: 18px;
      }
      &_mt50 {
        margin-top: 50px;
      }
    }
    &-text::first-letter {
      font-family: 'Pattaya';
      font-size: 24px;
      line-height: 16px;
      color: $element-warning-text;
      margin-right: 1px;
    }
  }
}

// modal
@media (max-width: 360px) and (max-height: 640px) {
  .project-modal {
    &__title {
      margin-bottom: 35px;
    }
    &__slider {
      width: 290px;
      &-wrapper {
        width: 290px;
      }
      &-prev {
        left: -30px;
      }
      &-next {
        right: -30px;
      }
    }
  }
}

@media (max-width: 320px) and (max-height: 480px) {
  .project-modal {
    &__wrapper {
      padding-top: 10px;
    }
    &__title {
      width: 150px;
      margin-bottom: 20px;
      font-size: 24px;
    }
    &__contacts {
      width: 270px;
      &-subtitle {
        margin-bottom: 5px;
        font-size: 12px;
      }
    }
    &__slider {
      width: 270px;
      height: 210px;
      margin-bottom: 15px;
      &-wrapper {
        width: 270px;
        height: 100%;
      }
      &-slide {
        width: 100%;
      }
      &-prev {
        left: -20px;
      }
      &-next {
        right: -20px;
      }
    }
  }

  .slide {
    padding: 0 20px;
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: #fff;
    &__divider {
      width: 20px;
      height: 20px;
      margin-top: 8px;
      &::before {
        width: 30px;
        left: -35px;
      }
      &::after {
        width: 30px;
        right: -35px;
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      &-title {
        color: $title-color;
        margin-bottom: 15px;
      }
      &-subtitle {
        color: $title-color;
        margin-bottom: 5px;
      }
      &-text {
        margin: 0;
        margin-top: 8px;
        text-indent: 15px;
        text-align: justify;
        &_mt18 {
          margin-top: 18px;
        }
        &_mt50 {
          margin-top: 30px;
        }
      }
      &-text::first-letter {
        font-family: 'Pattaya';
        font-size: 24px;
        line-height: 16px;
        color: $element-warning-text;
        margin-right: 1px;
      }
    }
  }
}

