.project-modal {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
  }
  &__title {
    width: 200px;
    margin-bottom: 16px;
		font-size: 30px;
		text-align-last: left;
		color: $title-color;
		background-image: url("../../images/icons/about.png");
		background-repeat: no-repeat;
		background-position: right center;
		background-size: contain;
  }
  &__author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    margin-bottom: 16px;
    &-name-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300px;
    }
    &-name {
      padding-bottom: 11px;
      font-size: 13px;
      color: $title-color;
    }
    &-ampersand {
      display: block;
      width: 20px;
      height: 30px;
      background-image: url('../../images/icons/ampersand.png');
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &-studio {
      width: 150px;
      min-height: 35px;
      object-fit: contain;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: -20px;
    &-links-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
    &-subtitle {
      align-self: start;
      margin-bottom: 10px;
      padding: 0;
      font-size: 13px;
      color: $element-title-color;
    }
    &-icon {
      display: block;
      width: 35px;
      height: 35px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      &-github {
        background-image: url('../../images/icons/contacts/github.svg');
      }
      &-site {
        background-image: url('../../images/icons/contacts/site.svg');
      }
      &-mail {
        background-image: url('../../images/icons/contacts/mail.png');
      }
      &-telegram {
        background-image: url('../../images/icons/contacts/telegram.png');
      }
    }
    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      font-size: 14px;
      color: $element-text-link-contacts;
    }
    &-divider {
      position: relative;
      width: 230px;
      height: 2px;
      background-color: $burger-menu-bg;
      &::after {
        position: absolute;
        content: '';
        width: 25px;
        height: 25px;
        right: 50%;
        top: -12px;
        transform: translateX(50%);
        background-image: url('../../images/icons/contacts/for-divider.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  &__slider {
    width: 310px;
    height: 250px;
    margin-bottom: 38px;
    &-wrapper {
      width: 310px;
      height: 100%;
    }
    &-slide {
      width: 100%;
    }
    &-prev, &-next {
      position: absolute;
      width: 35px;
      height: 35px;
      top: 50%;
      transform: translateY(-50%);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-prev {
      left: -30px;
    }
    &-next {
      right: -30px;
    }
    &-counter {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      color: $title-color;
    }
  }
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #fff;
  &__divider {
    width: 25px;
    height: 25px;
    margin-top: 8px;
    position: relative;
    background-image: url('../../images/img/coin.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    &::before {
      position: absolute;
      content: '';
      width: 50px;
      height: 2px;
      background-color: #fff;
      top: 50%;
      left: -60px;
      transform: translateY(-50%);
    }
    &::after {
      position: absolute;
      content: '';
      width: 50px;
      height: 2px;
      background-color: #fff;
      top: 50%;
      right: -60px;
      transform: translateY(-50%);
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    &-title {
      color: $title-color;
      margin-bottom: 15px;
    }
    &-subtitle {
      color: $title-color;
      margin-bottom: 5px;
    }
    &-text {
      margin: 0;
      text-indent: 15px;
      text-align: justify;
      &_mt18 {
        margin-top: 18px;
      }
      &_mt50 {
        margin-top: 50px;
      }
    }
    &-text::first-letter {
      font-family: 'Pattaya';
      font-size: 24px;
      line-height: 16px;
      color: $element-warning-text;
      margin-right: 1px;
    }
  }
  
}