.modal-changes {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 25px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }
  &__select-storage {
    margin-bottom: 15px;
  }
  &__money-type {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  &__type {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  &__submit-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__input-amount {
    z-index: 5;
    @include baseInput;
  }
  &__reset-btn {
    border: none;
  }
  &__new-storage-btn {
    color:  $button-color;
    background-color: $btn-text-color;
  }
}
.select-storage {
  display: flex;
  flex-direction: column;
  &__element-title {
   @include elementTitle;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__prev-btn, &__next-btn {
    display: block;
    width: 50px;
    height: 50px;
    fill: $select-storage-btn-color;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__label {
    position: relative;
    display: block;
    padding-left: 70px;
  }
  &__name {
    display: block;
    font-size: 24px;
    color: $radio-btn-color;
    &::before {
      position: absolute;
      content: "";
      top: 3px;
      left: 0;
      width: 60px;
      height: 32px;
      border: 3px solid $radio-btn-color;
      border-radius: 20px;
      transition: 0.3s transform ease-in-out;
    }
    &::after {
      position: absolute;
      content: "";
      top: 7px;
      left: 6px;
      width: 24px;
      height: 24px;
      border-radius: 20px;
      background-color: $radio-btn-color;
      transition: 0.3s transform ease-in-out;
    }
  }
  &__radio:checked + &__name::after {
      transform: translateX(24px);
      background-color: $radio-btn-checked-color;
  }
}
.money-type {
  &__element-title {
    @include elementTitle;
  }
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__label {
    position: relative;
    display: block;
    padding-left: 70px;
  }
  &__name {
    display: block;
    font-size: 24px;
    color:  $radio-btn-color;
    &::before {
      position: absolute;
      content: "";
      top: 3px;
      left: 0;
      width: 60px;
      height: 32px;
      border: 3px solid $radio-btn-color;
      border-radius: 20px;
      transition: 0.3s transform ease-in-out;
    }
    &::after {
      position: absolute;
      content: "";
      top: 7px;
      left: 6px;
      width: 24px;
      height: 24px;
      // border: 3px solid $button-color;
      border-radius: 20px;
      background-color:  $radio-btn-color;
      transition: 0.3s transform ease-in-out;
    }
  }
  &__radio:checked + &__name::after {
      transform: translateX(24px);
      background-color: $radio-btn-checked-color;
  }
}
.operation-type {
  &__element-title {
    @include elementTitle;
  }
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__label {
    position: relative;
    display: block;
    padding-left: 70px;
  }
  &__name {
    display: block;
    font-size: 24px;
    color:  $radio-btn-color;
    &::before {
      position: absolute;
      content: "";
      top: 3px;
      left: 0;
      width: 60px;
      height: 32px;
      border: 3px solid  $radio-btn-color;
      border-radius: 20px;
      transition: 0.3s transform ease-in-out;
    }
    &::after {
      position: absolute;
      content: "";
      top: 7px;
      left: 6px;
      width: 24px;
      height: 24px;
      border-radius: 20px;
      background-color: $radio-btn-color;
      transition: 0.3s transform ease-in-out;
    }
  }
  &__radio:checked + &__name::after {
      transform: translateX(24px);
      background-color: $radio-btn-checked-color;
  }
}