.modal-changes {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 25px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }
  &__select-storage {
    margin-bottom: 15px;
  }
  &__money-type {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  &__type {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  &__submit-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__input-amount {
    position: relative;
    z-index: 5;
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    background-color: $burger-button-color;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.8s box-shadow ease-in-out;
    &:focus {
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    &::placeholder {
      color: $footer-bg;
      font-weight: 500;
    }
  }
  &__reset-btn {
    border: none;
  }
  &__new-storage-btn {
    color:  $button-color;
    background-color: $btn-text-color;
  }
}
.select-storage {
  display: flex;
  flex-direction: column;
  &__descr {
    margin-bottom: 10px;
    font-size: 15px;
    color: $footer-bg;
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__prev-btn, &__next-btn {
    display: block;
    width: 50px;
    height: 50px;
    fill: $burger-button-color;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__label {
    position: relative;
    display: block;
    padding-left: 70px;
  }
  &__span {
    display: block;
    font-size: 24px;
    color: $radio-btn-color;
    &::before {
      position: absolute;
      content: "";
      top: 3px;
      left: 0;
      width: 60px;
      height: 32px;
      border: 3px solid $radio-btn-color;
      border-radius: 20px;
      transition: 0.3s transform ease-in-out;
    }
    &::after {
      position: absolute;
      content: "";
      top: 7px;
      left: 6px;
      width: 24px;
      height: 24px;
      border-radius: 20px;
      background-color: $radio-btn-color;
      transition: 0.3s transform ease-in-out;
    }
  }
  &__radio:checked + &__span::after {
      transform: translateX(24px);
      background-color: $title-color;
  }
}
.money-type {
  &__descr {
    margin-bottom: 10px;
    font-size: 15px;
    color: $footer-bg;
    text-align: center;
  }
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__label {
    position: relative;
    display: block;
    padding-left: 70px;
  }
  &__span {
    display: block;
    font-size: 24px;
    color:  $radio-btn-color;
    &::before {
      position: absolute;
      content: "";
      top: 3px;
      left: 0;
      width: 60px;
      height: 32px;
      border: 3px solid $radio-btn-color;
      border-radius: 20px;
      transition: 0.3s transform ease-in-out;
    }
    &::after {
      position: absolute;
      content: "";
      top: 7px;
      left: 6px;
      width: 24px;
      height: 24px;
      // border: 3px solid $button-color;
      border-radius: 20px;
      background-color:  $radio-btn-color;
      transition: 0.3s transform ease-in-out;
    }
  }
  &__radio:checked + &__span::after {
      transform: translateX(24px);
      background-color: $title-color;
  }
}
.operation-type {
  &__descr {
    margin-bottom: 10px;
    font-size: 15px;
    color: $footer-bg;
    text-align: center;
  }
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__label {
    position: relative;
    display: block;
    padding-left: 70px;
  }
  &__span {
    display: block;
    font-size: 24px;
    color:  $radio-btn-color;
    &::before {
      position: absolute;
      content: "";
      top: 3px;
      left: 0;
      width: 60px;
      height: 32px;
      border: 3px solid  $radio-btn-color;
      border-radius: 20px;
      transition: 0.3s transform ease-in-out;
    }
    &::after {
      position: absolute;
      content: "";
      top: 7px;
      left: 6px;
      width: 24px;
      height: 24px;
      border-radius: 20px;
      background-color: $radio-btn-color;
      transition: 0.3s transform ease-in-out;
    }
  }
  &__radio:checked + &__span::after {
      transform: translateX(24px);
      background-color: $title-color;
  }
}