.edit-menu {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
  }
  &__title {
    width: 195px;
    margin-bottom: 35px;
		font-size: 30px;
		text-align-last: left;
		color: $title-color;
		background-image: url("../../images/icons/edit-menu.svg");
		background-repeat: no-repeat;
		background-position: right center;
		background-size: contain;
  }
  &__subtitle {
    margin-bottom: 70px;
    font-size: 20px;
    color: $element-title-color;
    &-current {
      text-transform: uppercase;
      color: $element-subtitle-color;
    }
  }
  &__name {
    @include editViewLink;
  }
  &__balance {
    @include editViewLink;
  }
  &__money {
    @include editViewLink;
  }
  &__base {
    @include editViewLink;
  }
  &__delete {
    @include editViewLink;
  }

  // media

  @media(max-width: 360px) and (max-height: 640px) {
    .edit-menu {
      &__title {
        margin-bottom: 20px;
      }
      &__subtitle {
        margin-bottom: 60px;
      }
      &__name {
        margin-left: 25px;
      }
      &__balance {
        margin-left: 25px;
      }
      &__money {
        margin-left: 25px;
      }
      &__base {
        margin-left: 25px;
      }
      &__delete {
        margin-left: 25px;
      }

    }
  }

  @media(max-width: 320px) and (max-height: 480px) {
    .edit-menu {
      &__wrapper {
        padding-top: 10px;
      }
      &__title {
        width: 155px;
        margin-bottom: 20px;
        font-size: 24px;
      }
      &__subtitle {
        margin-bottom: 45px;
        font-size: 16px;
        color: $element-title-color;
      }
      &__name {
        @include  editViewLinkMedia320;
      }
      &__balance {
        @include  editViewLinkMedia320;
      }
      &__money {
        @include  editViewLinkMedia320;
      }
      &__base {
        @include  editViewLinkMedia320;
      }
      &__delete {
        @include  editViewLinkMedia320;
      }
    }
  }
}