.modal-log {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 25px;
  }
	&__title {
		width: 160px;
		margin-bottom: 20px;
		font-size: 35px;
		text-align-last: left;
		color: $title-color;
		background-image: url("../../images/icons/open-door.png");
		background-repeat: no-repeat;
		background-position: right center;
		background-size: contain;
	}
  &__form {
		display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }
  &__label-name {
		display: flex;
		flex-direction: column;
		width: 100%;
  }
  &__element-title {
		@include elementTitle;
  }
	&__input-name {
		@include baseInput;
	}
	&__label-check {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 25px;
	} 
	&__checkbox-span {
		display: block;
		width:170px;
		margin-right: 15px;
		color: $radio-btn-color;
		text-align: right;
		background-image: url("../../images/icons/checkbox-passive.svg");
		background-repeat: no-repeat;
		background-position: left center;
		background-size:25px 25px;
	}
	&__checkbox:checked + &__checkbox-span {
		background-image: url("../../images/icons/checkbox-active.svg");
	}
	&__checkbox-info {
		display: block;
    width: 24px;
    height: 25px;
    background-image: url('../../images/icons/i.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
	}
	&__submit-block {
		display: flex;
		justify-content: space-around;
	}
	&__btn {
		min-width: 160px;
		&-reset {
			border: none;
		}
	}
	&__modal-reg-btn {
		text-decoration: underline;
		color:  #a0b1e1;
    background-color: transparent;
		box-shadow: none;
	}
}