.modal {
  position: absolute;
  top: 99px;
  right: 0;
  left: 0;
  bottom: 60px;
  min-height: 74vh;
  overflow: auto;
  display: none;
}
.hide {
  display: none;
}
.visible {
  display: block;
}

// media

@media (max-width: 360px) and (max-height: 640px) {
  .modal {
    top: 60px;
    min-height: 78vh
  }
}

