.new-storage {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }
  &__label-name {
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  &__span-name {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    color: $footer-bg;
    text-align: center;
  }
  &__input-name {
    position: relative;
    z-index: 5;
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    background-color: $burger-button-color;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.8s box-shadow ease-in-out;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &::placeholder {
      color: $footer-bg;
      font-weight: 500;
    }
  }
  &__money-type {
    margin-bottom: 15px;
  }
  &__select-storage {
    margin-bottom: 35px;
  }
  &__submit-block {
    display: flex;
    justify-content: space-around;
  }
  &__reset-btn {
    border: none;
  }
  &__modal-changes-btn {
    min-width: 180px;    
  }
  &__modal-changes-btn {
    color:  $button-color;
    background-color: $btn-text-color;
  }
}
.select-storage {
  &__new-prev-btn, &__new-next-btn {
    display: block;
    width: 50px;
    height: 50px;
    fill: $burger-button-color;
  }
}