.new-storage {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  &__title {
		width: 300px;
    margin-bottom: 30px;
		font-size: 28px;
		text-align-last: left;
		color: $title-color;
		background-image: url("../../images/icons/finance-saving.svg");
		background-repeat: no-repeat;
		background-position: right center;
		background-size: contain;
	}
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 10px 35px 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color:#223c83;
  }
  &__input-name {
    @include baseInput;
    width: 90%;
    margin: 0 auto 25px;
  }
  &__money-type {
    margin-bottom: 15px;
  }
  &__select-storage {
    margin-bottom: 28px;
  }
  &__submit-block {
    display: flex;
    justify-content: space-around;
  }
  &__reset-btn {
    border: none;
  }
  &__modal-changes-btn {
    padding-bottom: 0;
    padding-top: 0;
		text-decoration: underline;
		color:  #a0b1e1;
    background-color: transparent;
		box-shadow: none;
  }
}
.select-storage {
  &__new-prev-btn, &__new-next-btn {
    display: block;
    width: 50px;
    height: 50px;
    fill: $select-storage-btn-color;
  }
}

.money-type {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  &__element-title {
    @include elementTitle;
  }
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__label {
    position: relative;
    display: flex;
    justify-content: center;
    width: 120px;
    margin-bottom: 10px;
  }
  &__name {
    display: block;
    padding-left: 35px;
    font-size: 24px;
    color: $radio-btn-color;
    background-image: url("../../images/icons/checkbox-passive.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size:25px 25px;
  }
  &__radio:checked + &__name {
    background-image: url("../../images/icons/checkbox-active.svg");
  }
}