.modal-reg {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 25px;
  }
  &__title {
		width: 285px;
    margin-bottom: 20px;
		font-size: 35px;
		text-align-last: left;
		color: $title-color;
		background-image: url("../../images/icons/reg.png");
		background-repeat: no-repeat;
		background-position: right center;
		background-size: contain;
	}
  &__form {
		display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }
	&__input-label {
		display: flex;
		flex-direction: column-reverse;
	}
  &__input-name {
		@include baseInput;
    margin-bottom: 35px;
    &_mb {
      margin-bottom: 20px;
    }
	}
	&__label-check {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 25px;
	} 
	&__checkbox-span {
		display: block;
		width:170px;
		color: $radio-btn-color;
		text-align: right;
		background-image: url("../../images/icons/checkbox-passive.svg");
		background-repeat: no-repeat;
		background-position: left center;
		background-size:25px 25px;
	}
	&__checkbox:checked + &__checkbox-span {
		background-image: url("../../images/icons/checkbox-active.svg");
	}
	&__submit-block {
		display: flex;
		justify-content: space-around;
	}
	&__btn {
		min-width: 160px;
		&-reset {
			border: none;
		}
	}
	&__modal-log-btn {
    padding-left: 55px;
    padding-right: 55px;
		text-decoration: underline;
		color:  #a0b1e1;
    background-color: transparent;
		box-shadow: none;
	}
}
.is-invalid {
  border: 2px solid #FF5C00;
  margin-top: 5px;
	padding-left: 13px;
}

.is-label-invalid {
  margin-top: -17px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}