.delete-modal {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
  }
  &__title {
    width: 205px;
    margin-bottom: 20px;
		font-size: 30px;
		text-align-last: left;
		color: $title-color;
		background-image: url("../../../images/icons/wallet-delete.svg");
		background-repeat: no-repeat;
		background-position: right center;
		background-size: contain;
  }
  &__subtitle {
    margin-bottom: 70px;
    font-size: 20px;
    color: $element-title-color;
    &-current {
      text-transform: uppercase;
      color: $element-subtitle-color;
    }
  }
  &__warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 105px;
    &-infoAboutVirts {
      display: block;
      max-width: 330px;
      min-height: 30px;
      margin-bottom: 15px;
      text-align: center;
      font-size: 14px;
      color: $element-title-color;
    }
    &-confirmation {
      margin-bottom: 15px;
      font-size: 20px;
      color: $element-title-color;
    }
    &-irreversible {
      color: $element-warning-text;
    } 
  }
  &__btn-block {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__delete-btn, &__cancel-btn {
    width: 145px;
  }
  &__delete-btn {
    color: $element-warning-text;
  }
}

// media
@media (max-width: 325px) and (max-height: 580px) {
  .delete-modal {
    &__subtitle {
      margin-bottom: 10px;
    }
    &__warning {
      margin-bottom: 90px;
    }
    &__btn-block {
      width: 280px;
    }
    &__delete-btn, &__cancel-btn {
      width: 130px;
    }
  }
}

@media (max-width: 320px) and (max-height: 480px) {
  .delete-modal {
    &__wrapper {
      padding-top: 10px;
    }
    &__title {
      width: 155px;
      margin-bottom: 15px;
      font-size: 24px;
    }
    &__subtitle {
      margin-bottom: 0px;
      font-size: 14px;
    }
    &__warning {
      margin-top: 25px;
      margin-bottom: 76px;
      &-confirmation {
        margin-bottom: 15px;
        font-size: 16px;
      }
    }
    &__btn-block {
      width: 240px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__delete-btn, &__cancel-btn {
      width: 110px;
    }
  }
}