.action {
  &__block {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &__btn {
    width: 70%;
    &:first-child {
      margin-bottom: 35px;
    }
    &-changes {
      color:  $button-color;
      background-color: $btn-text-color;
    }
  }

}