.action {
  padding-top: 0px;
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__info {
    display: block;
    align-self: flex-end;
    margin-right: 70px;
    width: 24px;
    height: 25px;
    margin-bottom: 15px;
    background-image: url('../../images/icons/i.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__btn {
    width: 70%;
  }

}