.footer {
  position: fixed;
  z-index: 0;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 8vh;
  background-color: $footer-bg;
  &__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__text {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #1E387F;
  }
  &__btn {
    padding: 12px 20px;
    font-size: 18px;
    line-height: 18px;
    color: #1E387F;
  }
}

@media (max-height: 640px) and (max-width: 360px) {
  .footer {
    line-height: 8vh;
    &__text {
      font-size: 14px;
    }
    &__btn {
      padding: 6px 12px;
      font-size: 14px;
      line-height: 14px;
      color: #1E387F;
    }
  }
}

