.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    position: relative;
    margin-bottom: 30px;
    font-size: 60px;
    color: $title-color;
    text-align: center;
  }
  &__icon {
    width: 130px;
    height: 130px;
  }
  &__img {
    width: 100%;
    object-fit: contain;
  }
}